/* 全局标题加粗（推荐） */
.md-typeset h1 {
  font-weight: 700;
}

.md-typeset h2 {
  font-weight: 600;
}

.md-typeset h3 {
  font-weight: 600;
}

.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
  font-weight: 500;
}

/* 中文友好字体 */
.md-typeset {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "PingFang SC",
    "Hiragino Sans GB",
    "Microsoft YaHei",
    "Noto Sans CJK SC",
    "Source Han Sans SC",
    sans-serif;
}

.my-img {
  width: 200px;
  height: auto;
}
.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


